/software_development/PC program/C/MPTleech_receiver/.vs/
/software_development/PC program/C/MPTleech_receiver/x64/
/hardware_development/PMTLeechv2/PMTLeechv2-backups/
hardware_development/RAMON_DEV/RAMON_DEV-backups
